.git
.venv
.cache
runs
**/__pycache__
**/*.pyc
.idea/
.DS_Store

.env
.env.*

examples/*
!examples/astronomy-uk-cs/
!examples/fasting-pl-cs/
!examples/agent_scenarios.json
!examples/validation.json
!examples/test-results.txt